//
// helper.scss
//

/*********************************/
/*         Helpers               */
/*===============================*/

.section {
    padding: 100px 0;
    position: relative;
    @media (max-width: 768px) {
        padding: 60px 0;
    }
}
.bg-overlay {
    background-color: $overlay;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%
}

.bg-overlay-white {
    background-color: $bg-overlay-white;
}

.bg-gradient-primary {
    background: $bg-gradient-primary;
}

.bg-gradient-primary-2 {
    background: $bg-gradient-primary-2;
}

.bg-rounded{
    border-radius: 0px 0px 90px 90px;
}


//Title
.title-heading {
    line-height: 26px;
    .heading {
        font-size: 45px !important;
        letter-spacing: 1px;
        @media (max-width: 768px) {
            font-size: 35px !important;
        }
    }
    .para-desc {
        font-size: 18px;
    }
}
.section-title {
    // position: relative;
    .title {
        letter-spacing: 0.5px;
        font-size: 30px !important;
        
        @media (max-width: 768px) {
            font-size: 24px !important;
        }
    }
} 
.para-desc {
    max-width: 600px;
}
.mt-100 {
    margin-top: 100px;
}

// Text Slider
.text-slider {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
    > ul {
        white-space: nowrap;
    }
    .move-text {
        animation: moveSlideshow 12s linear infinite;
    }
}  
@keyframes moveSlideshow {
    100% { 
        transform: translateX(-45%);  
    }
}

//Mover
.mover {
    animation: mover 1s infinite alternate;
}
@keyframes mover {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(5px);
    }
}

.apps-links {
    .icon, 
    .name {
        transition: all 0.5s ease;
    }
    &:hover {
        background: $light;
        box-shadow: $shadow;
        .icon {
            color: $primary !important;
        }
        .app-name {
            color: $dark !important;
        }
    }
}
/*********************************/
/*         Tobii Lightbox        */
/*===============================*/
//Tobii Lighbox
.tobii>button.tobii__close svg,
.tobii>button.tobii__prev svg, 
.tobii>button.tobii__next svg,
.tobii__btn svg {
    height: 36px;
    width: auto;
}
.tobii__counter {
    font-size: 16px;
}
.tobii-zoom {
    display: block !important;
}
.tobii-zoom__icon {
    display: none;
}
#grid {
    padding: 0 !important;
}

//video iframe
@media (max-width: 640px) {
    [data-type] iframe, [data-type] video {
        width: 500px;
        height: 300px;
    }
}
@media (max-width: 425px) {
    [data-type] iframe, [data-type] video {
        width: 360px;
        height: 260px;
    }
}
@media (max-width: 375px) {
    [data-type] iframe, [data-type] video {
        width: 100%;
        height: auto;
    }
}